body
{
	background-image: url("photo.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
    text-align: right;
}

.galery img {
    width: 400px;
    height: 240px;
    padding: 15px 5px;
}

h2
{
	text-align: center;
	font-size: 50px;
	margin-top: 200px;
	/*padding-top: 400px;*/
	background-color: #1B1B1E;
	color: white;
	font-family: 'Snell Roundhand', sans-serif;
}

h1
{
	text-align: center;
	font-size: 50px;
	color: white;
/*	background-color: white;
*/
}

u 
{
    text-decoration: #f00 wavy underline;
}

#navigation li
{
	display: inline;
	/*margin-right: 1px ;
  	color: #fff ;
  	background: #c00 ;*/
}

#navigation li a 
{
  padding: 0px 90px ;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center;
  text-decoration: none ;
}

#navigation
{
	margin: 0px ;
  	padding: 0px ;
  	list-style: none ;
  	text-align: center ;
}

.lien a
{
	color: white;
  font-size: 30px;
  background-color: #1B1B1E;
}


p 
{
    color: white;
    text-align: left;
    font-size: 40px;
    /*background-color: #1B1B1E;*/
}



#nav li
{
  display: inline;
  margin-left: 10px ;
  /*padding-left: 10px;*/
  color: #fff ;
  background: #c00 ;
}

#nav li a 
{
  padding: 0px 70px ;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: left;
  text-decoration: none ;
}

#nav
{
    padding-left: 20px;

    margin: 0px ;
    padding: 0px ;
    list-style: none ;
    text-align: center ;
}

.li > a
{
  text-align: left;
  font-size: 40px;

}

